:root {--main-font: 'Raleway','sans-serif';
--secondary-font: "Roboto",sans-serif;
--main-color: #2e2f42
--color-iris: #4d5ae5;
--color-ocean: #404bbf;
--color-navy-blue: #2e2f42;
--color-green: #31d0aa;
--color-slate: #434455;
--color-light-slate: #8e8f99;
--color-cornflower: #e7e9fc;
--color-cloud: #f4f4fd;
--color-navy-blue-modal: #2e2f42;
--color-grey: #2e2f42;
--color-white: #ffffff;
--color-dairy: #fcfcfc;}


/**
  |============================
  | Reset
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;

}
img{display: block;}
/**
  |============================
  | My styles
  |============================
*/
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red;
    outline-offset: -2px; */
    padding-left: 15px;
    padding-right: 15px;
}
body {
    font-size: 16px;
    font-family: "Roboto", "sans-serif";
    letter-spacing: 0.02em;
    color: var(--color-slate);
    background-color: var(--color-white)
}

/**
  |============================
  | Page Header - "header"
  |============================
*/
.page-header{
    width: 1440px;
    margin: 0 auto;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);    
} 
.header-container {   
    display: flex;
    align-items: center;
    cursor: pointer;    
}
.navigation {
    display: flex;
    margin-right: auto;
    align-items: center
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    }
.logo:focus,
.logo:hover{color: #404BBF;}
.header-span {
    /* LOGO styles */
        color: #2e2f42;
}
.header-span:hover,
.header-span:focus{color: #404BBF;}

.header-menu {
    display: flex;       
    gap: 40px;  
}
.header-item:focus,
.header-item:hover{
        color: #404BBF;
    }
.header-item{
    padding-top: 24px;
    padding-bottom: 24px;
 } 
.header-item-link {
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* .header-address {}  */

.header-address-menu {   
    font-style: normal;
    display: flex;
    gap: 40px;    
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}
/* .header-address-item {} */

.header-item-mail:focus,
.header-item-mail:hover{color: #404BBF;}

.header-item-phone:hover,
.header-item-phone:focus
 {color: #404BBF;}
 /**
   |============================
   | HERO -"hero"
   |============================
 */

 
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    
}
.hero-bg{
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/people-office-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    max-width: 1440px;
    background-position: center; 
    margin: 0 auto;
    background-color: #2E2F42;
}

.hero-header-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.hero-button:focus,
.hero-button:hover {
    background-color: #404BBF;
}
/**
  |============================
  | Section Sides -"Sides"
  |============================
*/
.sides-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.sides-header2-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* .sides-container{} */
.sides-menu {
    display: flex;
    gap: 24px;
}

.sides-item {width: calc((100% - 72px) / 4);}

.sides-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.sides-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}
.sides-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F4F4FD;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
}

/**
  |============================
  | Section What are we doing -"wawd"
  |============================
*/
.wawd-section{
    padding-top: 0;
    padding-bottom: 120px;}
.wawd-header-subtitle {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    padding-bottom: 0;
}
.wawd-menu {
    display: flex;
    gap: 24px;}

.wawd-item {width: calc((100% - 48px) / 3);}
/* .wawd-container{} */

/**
  |============================
  | Section our team - "ot"
  |============================
*/
.ot-section{
    background:  #F4F4FD;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;}
.ot-header-subtitle {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;

}

.ot-menu {
    display: flex;
    gap: 24px;}

.ot-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.ot-header-suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.ot-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    padding-bottom: 0;
    }
.ot-item-text{
    padding: 32px 0;
    
}
.social-links{
    display: flex;
    gap: 24px;    
    justify-content: center;
    align-items: center;

}
.social-item{  
    width: 40px;
    height: 40px;         
 }

.social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    } 
.social-link:hover{
    background-color: #404BBF;
}
.social-link:focus{
    background-color: #404BBF ;
}
.social-icon{
    fill: #f4f4fd ;

}

/**
  |============================
  | Customers - "c"
  |============================
*/

.c-section { 
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}
.c-header {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.c-list {
    display: flex;
    gap: 24px;    
}
.c-item{ color:#8E8F99

}
.c-link {   
    fill: currentColor;  
    width: 168px;
    height: 88px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.c-link:focus,
.c-link:hover{
    color: #404BBF;
    border: 1px solid #404BBF;


}
/* .c-icon {} */

/**
  |============================
  | Footer - "footer"
  |============================
*/

.footer-main{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer-logo-text{
    gap: 120px;
}
.footer-text{
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F4F4FD;
}
.footer-span{
    color: #F4F4FD;
}
.footer-span:hover,
.footer-span:focus {
    color: #404BBF;
}
.footer-logo{
    margin-bottom: 8px;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-social{
    display: flex;
    align-items: baseline;
    gap: 120px; 
} 
.social-text{
    font-weight: 500;
    color: white;
    line-height: 1.5;
    margin-bottom: 16px;    
}
.footer-social-links{
    display: flex;
    gap: 16px;  
}
.social-link-hf:hover,
.social-link-hf:focus{
    background-color: #31d0aa;
}
/* .social-item{ 
}
.social-link{} */

/**
  |============================
  | Portfolio header and footer same to main page 
  |============================
*/

/**
  |============================
  | Portfolio section - "portfolio"
  |============================
*/
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}
/* .container-header-btn */
.portfolio-header-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.portfolio-menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px

}
/* .cards-menu-img{} */
.portfolio-btn {
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.portfolio-btn:focus,
.portfolio-btn:hover{
    color: white;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
}
/* .portfolio-card{} */
.cards-menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-item {    
    width: calc((100% - 48px) / 3);
    /* display: block;         */
}
.portfolio-img:hover,
.portfolio-img:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img{
    display: block; 
}
.portfoilo-img-card{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfoilo-header-suptitle{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;    
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #434455;
}